# ==============================
# BACKEND
# ==============================
PORT=8000
MONGO_URI=mongodb+srv://singhaditya10311_db_user:80DmCKSM7T7IqaZy@cluster0.uvzotzu.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretkey


# ==============================
# WEB (Next.js)
# ==============================
NEXT_PUBLIC_API_URL=http://localhost:8000

# ==============================
# MOBILE (React Native)
# ==============================
API_URL=http://10.212.125.58
